body{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-top: 20px;
}

ul{
    display: flex;
    gap: 16px;
    list-style: none;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-family: Roboto, sans-serif;
}

.intro{
    display: flex;
    gap: 50px;
}

.intro div{
    color: #F9FAF8;
}

.intro-main{
    font-size: 48px;
    font-weight: 900;
    font-family: Roboto, sans-serif;
    margin-bottom: 0.25rem;
}

.intro-second{
    font-size: 18px;
    font-family: Roboto, sans-serif;
    margin-top: 0;
    line-height: 1.5;
}

.car{
    max-width: 600px;
    height: auto;
    align-self: center;
}
.intro button{
    font-family: Roboto, sans-serif;
    background-color: #F9FAF8;
    color: #000000;
    border: 0;
    font-weight: 700;
    border-radius: 5px;
    padding: 8px 20px;
}

.top{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 0 200px 100px;
    gap: 70px;
}

.title-items{
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    justify-content: center;
}

.title{
    padding: 15px 0;
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    font-family: Roboto, sans-serif;
}

.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.item .text{
    max-width: 200px;
    text-align: center;
    margin-top: 5px;
    font-family: Roboto, sans-serif;
    font-size: ;
    color: rgb(73, 72, 72);
    line-height: 1.35;
}
.item img{
    width: 200px;
    height: auto;
    border: 4px solid #1F2937;
    border-radius: 12px;
}

.quote{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.quote-inner{
    display: flex;
    flex-direction: column;
    padding: 70px;
}
.the-quote{
    font-size: 50px;
    font-style: italic;
    font-family: Roboto, sans-serif;
    color: grey;
}

.by-max{
    display: flex;
    margin-top: 5px;
    justify-content: flex-end;
    font-weight: bolder;
    font-family: Roboto, sans-serif;
    color: #1F2937;
}

.end{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 110px 170px; 
}

.box{
    background-color: #1F2937;
    border-radius: 10px;
    padding: 30px 130px;
    display: flex;
    flex: 1;
}

.box-inner{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.writing{
    font-family: Roboto, sans-serif;
}

.one{
    color: #E5E7EB;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}

.two{
    margin-top: 5px;
    color: #e5e7ebd5;
}
.box-inner button{
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 10px 40px;
    border-color: #E5E7EB;
    border-radius: 12px;
    border: 2px solid;
}

.footer{
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: Roboto, sans-serif;
}